//- html head

block heads
    title !{title}
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='Cache-Control' content='no-cache')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Expires' content='0')
        
block links
    +link('stylesheet', 'pub/css/site.css')(class='css')
                
noscript Browser does not support javascript
